In [1]:
import sqlite3
from initialization_resources import InitialTables, InitializeData

In [2]:
connection = sqlite3.connect('twitiny.db')

In [10]:
tables = InitialTables()
tables.create_tables(connection)

In [11]:
initialize = InitializeData()
initialize.create_initial_data(connection)

An error occurred while adding users: UNIQUE constraint failed: users.email
An error occurred while adding follows: UNIQUE constraint failed: follows.follower_id, follows.being_followed_id
An error occurred while adding likes: UNIQUE constraint failed: likes.user_id, likes.twit_id

In [12]:
# Query the database
cursor = connection.cursor()

# Fetch and display the results
cursor.execute('SELECT * FROM users')
for row in cursor.fetchall():
    print(row)
print()

# Fetch and display the results
cursor.execute('SELECT * FROM follows')
for row in cursor.fetchall():
    print(row)
print()

# Fetch and display the results
cursor.execute('SELECT * FROM twits')
for row in cursor.fetchall():
    print(row)
print()

# Fetch and display the results
cursor.execute('SELECT * FROM likes')
for row in cursor.fetchall():
    print(row)
print()

(1, 'water_monk', 'water', 'water@temple.com', '2023-11-21 16:32:52', None)
(2, 'earth_monk', 'earth', 'earth@temple.com', '2023-11-21 16:32:52', None)
(3, 'fire_monk', 'fire', 'fire@temple.com', '2023-11-21 16:32:52', None)
(4, 'air_monk', 'air', 'air@temple.com', '2023-11-21 16:32:52', None)
(5, 'avatar', 'unity', 'avatar@spiritual_realm.com', '2023-11-21 16:32:52', None)

(1, 2, '2023-11-21 16:32:52')
(1, 4, '2023-11-21 16:32:52')
(1, 5, '2023-11-21 16:32:52')
(2, 1, '2023-11-21 16:32:52')
(2, 3, '2023-11-21 16:32:52')
(2, 5, '2023-11-21 16:32:52')
(3, 2, '2023-11-21 16:32:52')
(3, 4, '2023-11-21 16:32:52')
(3, 5, '2023-11-21 16:32:52')
(5, 1, '2023-11-21 16:32:52')
(5, 2, '2023-11-21 16:32:52')
(5, 3, '2023-11-21 16:32:52')
(5, 4, '2023-11-21 16:32:52')

(1, 1, 'water is awesome!', '2023-11-21 16:32:52')
(2, 2, 'earth is awesome!', '2023-11-21 16:32:52')
(3, 3, 'fire is awesome!', '2023-11-21 16:32:52')
(4, 4, 'air is awesome!', '2023-11-21 16:32:52')
(5, 5, 'let us all coexist!', '2023-11-21 16:32:52')
(6, 1, 'water is awesome!', '2023-11-21 16:34:32')
(7, 2, 'earth is awesome!', '2023-11-21 16:34:32')
(8, 3, 'fire is awesome!', '2023-11-21 16:34:32')
(9, 4, 'air is awesome!', '2023-11-21 16:34:32')
(10, 5, 'let us all coexist!', '2023-11-21 16:34:32')

(1, 1, '2023-11-21 16:32:52')
(1, 2, '2023-11-21 16:32:52')
(1, 3, '2023-11-21 16:32:52')
(1, 5, '2023-11-21 16:32:52')
(2, 1, '2023-11-21 16:32:52')
(2, 2, '2023-11-21 16:32:52')
(2, 3, '2023-11-21 16:32:52')
(2, 5, '2023-11-21 16:32:52')
(3, 1, '2023-11-21 16:32:52')
(3, 2, '2023-11-21 16:32:52')
(3, 3, '2023-11-21 16:32:52')
(3, 5, '2023-11-21 16:32:52')
(4, 4, '2023-11-21 16:32:52')
(5, 1, '2023-11-21 16:32:52')
(5, 2, '2023-11-21 16:32:52')
(5, 3, '2023-11-21 16:32:52')
(5, 4, '2023-11-21 16:32:52')
(5, 5, '2023-11-21 16:32:52')